html,
body {
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(39, 224, 85), rgb(87, 103, 177));
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: white;
}