<div class="main">
    <p class="title">C O N T A C T</p>
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col">
                <p class="profile">Contact</p>
                <div>
                    <P class="info-profile">{{email}}</P>
                    <P class="info-profile">{{phoneNumber}}</P>
                    <P class="info-profile">{{city}}</P>
                </div>
            </div>
            <div class="col">
                <p class="profile">Text me</p>
                <div class="mb-3">
                    <label class="info-profile" for="exampleFormControlInput1" class="form-label">Email
                        address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label class="info-profile" for="exampleFormControlTextarea1" class="form-label">Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-lg" disabled>
                    <i class="bi bi-send" ></i>
                </button>
            </div>
            <div class="col">
                <p class="profile">Follow me</p>
                <div>
                    <P class="info-profile">www.linkedin.com/in/joanna-klimek-12798b18a/</P>
                    <P class="info-profile">https://github.com/joannamaria27</P>

                </div>
            </div>
        </div>
    </div>
</div>